@font-face {
  font-family: 'Poppins';
  src: url('~/assets/fonts/poppins.woff') format('woff');
}

body {
  font-family: 'Poppins';
  background-color: rgb(215, 231, 231);
  // background-image: linear-gradient(to bottom right, rgb(143, 142, 142), rgb(238, 238, 238));
}
